.title
  %h2 トップページ
.binding=link_to 'help-me-hackersの使い方', '/about'
.content
  %ul.tasks.tasks_list
    = render :partial => 'tasks/object', :collection => @tasks
  - if Task.count > TopController::TASKS_PER_PAGE
    .pager=link_to 'もっと見る', tasks_path(:page => 2)
