%h2= "Hack \"#{@hack.to_param}\""
- content_tag_for :div, @hack do
  %ul
    %li
      %strong Problem:
      =h @hack.problem
    %li
      %strong User:
      =h @hack.user
    %li
      %strong Description:
      =h @hack.description
%ul
  %li= link_to '編集', edit_hack_path(@hack)
  %li= link_to '戻る', hacks_path
