%li.task.clearfix{task_attrs(object_small)}
  %dl

    %dt Good!
    %dd.tweets= object_small.votes.size
    %dt コメント
    %dd.comments= object_small.comments.size
    %dt タスク名
    %dd.title=link_to truncate(h(object_small.title), :length => 32), task_path(object_small)
    %dt 報奨金
    - if object_small.total_bounty > 0
      %dd.bounty= number_to_currency object_small.total_bounty
    - else
      %dd.bounty.free FREE
    %dt タスク登録日
    %dd.created_at== #{time_ago_in_words object_small.created_at}前









