%li{task_attrs(object_small)}
  .goods= object_small.votes.size
  .comments= object_small.comments.size
  .title=link_to truncate(h(object_small.title), :length => 32), task_path(object_small)
  - if object_small.bounty > 0
    .bounty= number_to_currency object_small.bounty
  - else
    .bounty.free FREE
  .created_at== #{time_ago_in_words object_small.created_at}å‰
