- title "Unsolved - #{t('application.title')}"
.title
  %h2 Unsolved
.content
  - if @problems.empty?
    .empty
      %p 該当するHackがありません。
      %p== 今なら目立つ！この隙に#{link_to '依頼', new_problem_path}すれば解決してもらえるかも！
  - else
  %ul.problems
    = render :partial => 'object', :collection => @problems
  = will_paginate(@problems)
