- title "賞金首 - #{t('application.title')}"
.content
  %h2 賞金首
  - if @problems.empty?
    .empty
      %p 該当する問題がありません。
      %p== 今なら目立つ！この隙に#{link_to '投稿', new_problem_path}すれば問題解決してもらえるかも！
  - else
  %ul.problems
    = render :partial => 'object', :collection => @problems
  = will_paginate(@problems)
