div.tasks_index div#main div.title h2 {
	text-indent: -9999px;
	background-image: url(../images/requests_h2.gif);
}

div.tasks_wanted div#main div.title h2 {
	text-indent: -9999px;
	background-image: url(../images/tasks_wanted_h2.gif);
}
div.tasks_unsolved div#main div.title h2 {
	text-indent: -9999px;
	background-image: url(../images/tasks_unsolved_h2.gif);
}
div.users_hacker div#main div.title h2 {
	text-indent: -9999px;
	background-image: url(../images/users_hacker_h2.gif);
}
div.users_hackee div#main div.title h2 {
	text-indent: -9999px;
	background-image: url(../images/users_hackee_h2.gif);
}
div.users_index div#main div.title h2 {
	text-indent: -9999px;
	background-image: url(../images/users_h2.gif);
}
div.accounts_show div#main div.title h2 {
	text-indent: -9999px;
	background-image: url(../images/dashboard_h2.gif);
}
div.about_index div#main div.title h2 {
	text-indent: -9999px;
	background-image: url(../images/about_index_h2.gif);
}
div.about_hint div#main div.title h2 {
	text-indent: -9999px;
	background-image: url(../images/about_hint_h2.gif);
}
div.projects_index div#main div.title h2 {
	text-indent: -9999px;
	background-image: url(../images/projects_h2.gif);
}



div#main {
	width: 750px;
	float: left;
	margin-top: -30px;
}






div#main .title {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #edff9b;
	padding-left: 15px;
	margin-left: 20px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 2px;
}
div#main div.title h2 {
	font-size: 24px;
	display: block;
	line-height: 32px;
	color: #59632d;
	font-weight: bold;
	border-bottom-style: none;
	width: 700px;
}
.top_index div#main div.title h2 {
	background-image: url(../images/toppage_h2.gif);
	text-indent: -9999px;
	display: block;
}
div#main div.main .title {
	margin-left: 0px;
	padding-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}









div#main div.content {
	padding-left: 15px;
	margin-left: 20px;
	color: #59632d;
	padding-right: 10px;
	padding-bottom: 15px;
}
div.tasks_new div.content {
	padding-top: 15px;
}


div.comments_edit div#main div.content {
	padding-top: 15px;
}
div#main div.binding {
	margin-top: 20px;
	margin-bottom: 0px;
	margin-right: 15px;
	margin-left: 35px;
	background-repeat: no-repeat;
}
div.top_index div#main div.binding {
	background-image: url(../images/top_binding.gif);
	height: 40px;
	padding-top: 250px;
}
div.about_index div#main div.binding {
	background-image: url(../images/about_binding.gif);
	height: 240px;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 16px;
	line-height: 1.8;
	font-weight: bold;
	margin-bottom: 15px;
}
div.about_index div#main div.content ol.about_index {
	list-style-type: none;
	margin-right: -15px;
	margin-left: -15px;
}
div.about_index div#main div.content ol.about_index li {
	height: 100px;
	display: block;
	float: left;
	width: 290px;
	background-repeat: no-repeat;
	padding-top: 268px;
	padding-bottom: 12px;
	padding-left: 50px;
	font-size: 13px;
}
div.about_index div#main div.content ol.about_index li.about_01 {
	background-image: url(../images/about_ol_01.jpg);
}
div.about_index div#main div.content ol.about_index li.about_02 {
	background-image: url(../images/about_ol_02.jpg);
}
div.about_index div#main div.content ol.about_index li.about_03 {
	background-image: url(../images/about_ol_03.jpg);
}
div.about_index div#main div.content ol.about_index li.about_04 {
	background-image: url(../images/about_ol_04.jpg);
}
div.about_index div#main div.content ol.about_index li.about_05 {
	background-image: url(../images/about_ol_05.jpg);
}
div.about_index div#main div.content ol.about_index li.about_06 {
	background-image: url(../images/about_ol_06.jpg);
}


div.top_index div#main div.binding a {
	height: 40px;
	display: block;
	text-indent: -9999px;
	width: 120px;
	margin-left: 580px;
}
div#main div.about {
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
}
div#main div.content div#flash div {
	display: block;
	line-height: 1.3;
	color: #59632d;
	font-weight: bold;
	border: 1px solid #D4FD18;
	text-align: center;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
}
div.tasks_show div#main div.content div.main div.title {
	padding-bottom: 20px;
	background-image: url(../images/task_title.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-top: 0px;
	padding-right: 0px;
	clear: both;
}
div.tasks_show div#main div.solved div.main div.title {
	background-image: url(../images/solved_title.gif);
}
div.tasks_show div#main div.content div.good{
	height: 16px;
	width: 46px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	background-image: url(../images/good.gif);
	padding-top: 40px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
	color: #FFFFFF;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}
div.tasks_show div#main div.content div.tweeted{
	cursor: default;
	background-image: url(../images/tweeted.gif);
}
div.tasks_show div#main div.content div.title div.good{
	float: right;
	margin-top: 3px;
}
div.tasks_show div#main div.content div.commenter div.good{
	float: right;
	padding-bottom: 15px;
}
div.tasks_show div#main div.content div.good li.label{
	display: none;
}




div.tasks_show div#main div.content form.new_vote p{
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	margin: 0px;
	line-height: 1;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clear: both;
}


form.new_vote{
	background-color: #E9E9E9;
	display: block;
	padding: 8px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-opera-border-radius:8px;
	clear: both;
}
div.tasks_show div#main div.content div.main div.title form.new_vote{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.tasks_show div#main div.content div.section ul.comments li.comment form.new_vote {
	margin-bottom: 10px;
	float: left;
	width: 570px;
	margin-right: -90px;
}
form.new_vote div.text {
	float: left;
}
form.new_vote div.text input {
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 4px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-opera-border-radius:10px;
	font-size: 12px;
	line-height: 20px;
	display: block;
	height: 20px;
	color: #777777;
}
div.tasks_show div#main div.content div.main div.title form.new_vote div.text input{
	width: 428px;
}
div.tasks_show div#main div.content div.section ul.comments li.comment form.new_vote div.text input{
	width: 478px;
}
div.tasks_show form.new_vote div.button {
	display: block;
	float: right;
	height: 28px;
	width: 75px;
}
div.tasks_show form.new_vote div.button input,
div.tasks_show form.new_vote div.button a {
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-opera-border-radius:8px;
	font-size: 12px;
	font-weight: bold;
	color: #115894;
	text-decoration: none;
	text-align: center;
	line-height: 28px;
	background-image: url(../images/good_button.gif);
	text-indent: -9999px;
}
div.tasks_show div#main div.content div.main div.title form.new_vote div.button a{
	display: block;
}
div.tasks_show div#main div.content div.section ul.comments li.comment form.new_vote div.button a{
	display: block;
}







div.tasks_show div#main div.content div.title h3 {
	margin-bottom: 0px;
}
div.tasks_show div#main div.content div.title h3 a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	height: 40px;
	padding-left: 7px;
	font-size: 11px;
	line-height: 40px;
	margin-right: 3px;
	margin-top: -7px;
	background-repeat: no-repeat;
	background-position: right center;
}

div.tasks_show div.title .class-function-makin a {
	color: #115894;
	background-image: url(../images/class-function-making.gif);
}
div.tasks_show div#main div.content div.title h2 .data-collection-and-making a {
	background-image: url(../images/data-collection-and-making.gif);
	color: #115894;
}
div.tasks_show div#main div.content div.title h2 .debugging a {
	background-image: url(../images/debugging.gif);
	color: #115894;
}
div.tasks_show div#main div.content div.title h2 .document-translation a {
	background-image: url(../images/document-translation.gif);
	color: #115894;
}
div.tasks_show div#main div.content div.title h2 .library-making a {
	background-image: url(../images/library-making.gif);
	color: #115894;
}
div.tasks_show div#main div.content div.title h2 .plugin-making a {
	background-image: url(../images/plugin-making.gif);
	color: #115894;
}
div.tasks_show div#main div.content div.title h2 .programming-quiz a {
	background-image: url(../images/programming-quiz.gif);
	color: #115894;
}
div.tasks_show div#main div.content div.title h2 .prototype-making a {
	background-image: url(../images/prototype-making.gif);
	color: #115894;
}
div.tasks_show div#main div.content div.title h2 .software-making a {
	background-image: url(../images/software-making.gif);
	color: #115894;
}
div.tasks_show div#main div.content div.title h2 .software-multilingualization a {
	background-image: url(../images/software-multilingualization.gif);
	color: #115894;
}
div.tasks_show div#main div.content div.title h2 .technology-study a {
	background-image: url(../images/technology-study.gif);
	color: #115894;
}












#sub {
	float: right;
	width: 210px;
	padding-right: 20px;
	margin-top: -15px;
}
div#footer {
	clear: both;
	background-image: url(../images/footer.gif);
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 45px;
	padding-left: 45px;
	background-position: left bottom;
	padding-bottom: 45px;
	padding-top: 30px;
	font-size: 13px;
}
div.index #main h2 {
	background-image: url(../images/top_h2.gif);
}
div#main ul.tasks {
	margin-left: 0px;
	margin-top: -10px;
}


 /* --clearfix-- */  
div#main ul.tasks li.task:after
 {
section: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
}

/* Win IE7 */
*:first-child+html div#main ul.tasks li.task
{
height: 1%;
}

div#main ul.tasks li.task {
  min-height: 1px;
  display: block;  /* ブロックレベル要素に */
}

* html div#main ul.tasks li.task {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/* Mac IE\*//*/
div#main ul.tasks li.task {
display: inline-table;
}
/* End Mac IE */

div#footer p.copyright {
	text-align: center;
	display: block;
	line-height: 2.4;
}
div#sub div.section {
	background-color: #f5f7ed;
	margin-bottom: 13px;
	background-image: url(../images/sub_section.gif);
}
div#sub div.section h3 {
	background-image: url(../images/sub_section_h3.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	padding-right: 8px;
	padding-left: 8px;
	font-weight: bold;
	display: block;
	padding-bottom: 6px;
	font-size: 14px;
}
div#sub div.hint h3 {
	background-image: url(../images/sub_hint_h3.gif);
	padding-left: 30px;
}
div#sub div.section p {
	padding-right: 8px;
	padding-left: 8px;
	margin-bottom: 1em;
}
div#sub div.section:last-child p {
}

div#sub div.section ul {
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 8px;
	padding-left: 7px;
	margin-right: 1px;
	margin-left: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #76e3da;
}
div#sub div.section ol {
	padding-top: 0px;
	padding-right: 7px;
	padding-bottom: 8px;
	padding-left: 7px;
	margin-right: 1px;
	margin-left: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EFFF9C;
}
div#sub div.section li {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #d0d0d0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
	display: block;
}
div#sub div.section .to_archive {
	padding-top: 0px;
	padding-bottom: 8px;
	background-image: url(../images/sub_section_to_archive.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-right: 12px;
	padding-left: 8px;
	text-align: right;
	display: block;
	font-size: 12px;
	font-weight: bold;
}



/* URL:top */
div.top div#main ul.tasks li.task h3.title {
	float: right;
	width: 580px;
	font-size: 16px;
}


/* URL:tasks */
div#main ul.tasks li.task
 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b9b9b9;
	clear: both;
	overflow: hidden;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 15px;
	}
div#main ul.tasks_list li.task:last-child {
	border-bottom-style: none;
}
div#main ul.tasks_list li.task:first-child {
	padding-top: 25px;
}
div#main ul.tasks li.task h3.title {
	display: block;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	padding-right: 5px;
	padding-bottom: 20px;
	background-image: url(../images/task_title.gif);
	padding-top: 0px;
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-bottom: 8px;
}
div#main ul.tasks li.solved h3.title {
	background-image: url(../images/solved_title.gif);
}
div#main ul.tasks li.task .description {
	display: block;
	line-height: 1.5;
	font-size: 14px;
}
div#main .task ul.tags {
	clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
}
div#main .task ul.tags li {
	display: inline;
}
div#main .task ul.tags li a {
	display: block;
	float: left;
	line-height: 24px;
	height: 24px;
	margin-right: 8px;
	padding-right: 12px;
	background-image: url(../images/question_tag.gif);
	padding-left: 5px;
	background-position: right top;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 5px;
}
div#main .task ul.tags li a:link,
div#main .task ul.tags li a:visited {
	background-position: right top;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #223da3;
	color: #FFFFFF;
}
div#main .task ul.tags li a:hover,
div#main .task ul.tags li a:active {
	background-position: right -24px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #57c9c0;
	color: #ec189a;
}
div#main .task ul.tags {
	clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
}
div#main .task .main {
	width: 535px;
	float: right;
}
div#main .task div.sub {
	float: left;
	width: 155px;
	background-repeat: no-repeat;
	line-height: 1;
	background-position: center -145px;
	margin-top: -5px;
}
div#main .free div.sub {
	background-position: 0 52px;
}
div#main div.task div.sub {
	margin-top: 10px;
	margin-bottom: 15px;
}
div#main .task div.information dl,
div#main .task div.information dt,
div#main .task div.information dd {
	display: block;
}
div#main .task div.information dl {
	padding-bottom: 7px;
	background-image: url(../images/task_sub_dl.gif);
	background-repeat: no-repeat;
	padding-right: 0px;
	padding-left: 0px;
}
div#main ul.tasks li.solved div.information dl {
	background-image: url(../images/solved_sub_dl.gif);
}


div#main .task div.information dt {
	display: none;
}
div#main .task div.information dd.language {
	line-height: 21px;
	height: 21px;
	font-size: 12px;
	font-weight: bold;
	padding-top: 8px;
	background-image: url(../images/task_sub_dl.gif);
	padding-bottom: 16px;
	padding-right: 5px;
}
div#main .solved div.information dd.language {
	background-image: url(../images/solved_sub_dl.gif);
}

div#main .task div.information dd.project {
	line-height: 16px;
	font-size: 12px;
	font-weight: bold;
	padding-top: 0px;
	background-image: url(../images/task_sub_dl.gif);
	padding-bottom: 5px;
	padding-right: 6px;
	background-position: 0px -40px;
	padding-left: 6px;
}
div#main .task div.information dd.project a {
	background-color: #FFFFFF;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	display: block;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #FBDE13;
	text-decoration: none;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
}
div#main .task div.information dd.project a:link,
div#main .task div.information dd.project a:visited {
	background-color: #FFFFFF;
}
div#main .task div.information dd.project a:hover,
div#main .task div.information dd.project a:active {
	background-color: #76E3DA;
	color: #ec189a;
}



div#main .task div.information dd.language a {
	line-height: 20px;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	display: block;
	float: right;
	text-decoration: none;
	padding-right: 7px;
	padding-left: 7px;
	color: #5A5A5A;
	background-color: #EDFF9B;
	margin-bottom: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
div#main .task div.information dd.language a:link,
div#main .task div.information dd.language a:visited {
	color: #5A5A5A;
	background-color: #EDFF9B;
}
div#main .task div.information dd.language a:hover,
div#main .task div.information dd.language a:active {
	color: #EC189A;
	background-color: #76E3DA;
}
div#main .task div.information dd.category {
	line-height: 20px;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	margin-right: -5px;
	margin-left: -5px;
	padding-top: 3px;
	clear: both;
	text-align: center;
	padding-bottom: 1px;
}
div#main .task div.information dd.category a {
	line-height: 22px;
	height: 22px;
	font-size: 12px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	background-position: left center;
	background-repeat: no-repeat;
}
div#main .class-function-making div.information dd.category {
	border-bottom-color: #F141AD;
}
div#main .class-function-making div.information dd.category a {
	color: #F141AD;
}
div#main .data-collection-and-making div.information dd.category {
	border-bottom-color: #e92944;
}
div#main .data-collection-and-making div.information dd.category a {
	color: #e92944;
}
div#main .debugging div.information dd.category {
	border-bottom-color: #0eba12;
}
div#main .debugging div.information dd.category a {
	color: #0eba12;
}
div#main .document-translation div.information dd.category {
	border-bottom-color: #b1be75;
}
div#main .document-translation div.information dd.category a {
	color: #b1be75;
}
div#main .library-making div.information dd.category {
	border-bottom-color: #5c368f;
}
div#main .library-making div.information dd.category a {
	color: #5c368f;
}
div#main .plugin-making div.information dd.category {
	border-bottom-color: #e96d12;
}
div#main .plugin-making div.information dd.category a {
	color: #e96d12;
}
div#main .programming-quiz div.information dd.category {
	border-bottom-color: #0d4b7f;
}
div#main .programming-quiz div.information dd.category a {
	color: #0d4b7f;
}
div#main .prototype-making div.information dd.category {
	border-bottom-color: #df628e;
}
div#main .prototype-making div.information dd.category a {
	color: #df628e;
}
div#main .software-making div.information dd.category {
	border-bottom-color: #b0d40b;
}
div#main .software-making div.information dd.category a {
	color: #b0d40b;
}



div#main .android-app-making div.information dd.category {
	border-bottom-color: #b0d40b;
}
div#main .android-app-making div.information dd.category a {
	color: #b0d40b;
}


div#main .iphone-app-making div.information dd.category {
	border-bottom-color: #b0d40b;
}
div#main .iphone-app-making div.information dd.category a {
	color: #b0d40b;
}







div#main .software-multilingualization div.information dd.category {
	border-bottom-color: #e6c510;
}
div#main .software-multilingualization div.information dd.category a {
	color: #e6c510;
}
div#main .technology-study div.information dd.category {
	border-bottom-color: #1ca4c1;
}
div#main .technology-study div.information dd.category a {
	color: #1ca4c1;
}


div#main .task div.information dd.bounty {
	font-weight: bold;
	color: #EC189E;
	line-height: 28px;
	height: 28px;
	text-align: center;
	background-image: url(../images/task_sub_bounty.gif);
	padding-top: 2px;
}
div#main .task div.information dl dd.bounty span {
	font-weight: bold;
	color: #ec189a;
	font-size: 16px;
}
div#main ul.tasks li.solved div.information dl dd.bounty span {
	color: #a3a3a3;
}

div#main .task div.information ul.retweet,
div#main .task div.information ul.comment {
	font-weight: bold;
	line-height: 29px;
	height: 29px;
	text-align: center;
	width: 72px;
	font-size: 18px;
	padding-top: 3px;
	padding-bottom: 14px;
}
div#main .task div.information li.label {
	display: none;
}
div#main .task div.information ul.retweet {
	float: left;
	padding-left: 5px;
	background-image: url(../images/task_sub_counts.gif);
	background-position: left top;
	padding-right: 1px;
}
div#main .task div.information ul.comment {
	float: right;
	padding-right: 5px;
	background-image: url(../images/task_sub_counts.gif);
	background-position: right top;
}
div#main .task div.information li.icon img {
	height: 32px;
	width: 32px;
	float: left;
}
div#main .task div.information li.name {
	font-size: 11px;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
	line-height: 1.2;
	display: block;
	float: right;
	width: 102px;
}
div#main .task div.information div.person {
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 7px;
	padding-left: 7px;
	background-image: url(../images/task_sub_dl.gif);
	background-position: left bottom;
}
div#main .task div.information div.person h4 {
	font-size: 12px;
	display: block;
	text-align: center;
	padding-top: 9px;
	line-height: 12px;
	height: 12px;
	font-weight: bold;
}
div#main .task div.information div.person ul {
	padding-top: 0px;
}
div#main .task div.information div.created_at {
	clear: both;
	text-align: center;
	border: 2px solid #C0C0C0;
	padding: 3px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-opera-border-radius:10px;
	margin-top: 8px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
}















/* resolved */
div#main ul.tasks li.resolved {
	margin-bottom: 10px;
	background-color: #fcffb0;
	background-repeat: no-repeat;
	background-position: left center;
}
div#main ul.tasks li.resolved div.user dl.bounty {
	background-color: #d7d7d7;
}
div#main ul.tasks li.task div.resolver {
	float: right;
	width: 146px;
	height: 70px;
	margin-left: 10px;
	background-image: url(../images/task_resolver.gif);
	padding-top: 10px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	margin-top: -10px;
}
div#main ul.tasks li.task div.resolver li.icon {
	display: block;
	height: 34px;
	width: 34px;
	float: left;
}
div#main ul.tasks li.task div.resolver h4 {
	display: block;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 7px;
	font-weight: bold;
	color: #666666;
	text-align: center;
}
div#main ul.tasks li.task div.resolver li.icon img {
	height: 32px;
	width: 32px;
}
div#main ul.tasks li.task div.resolver li.icon a img {
	height: 32px;
	width: 32px;
}
div#main ul.tasks li.task div.resolver li.icon a:link img,
div#main ul.tasks li.task div.resolver li.icon a:visited img {
	height: 32px;
	width: 32px;
	border: 2px solid #FFFF00;
}
div#main ul.tasks li.task div.resolver li.icon a:hover img,
div#main ul.tasks li.task div.resolver li.icon a:active img {
	height: 32px;
	width: 32px;
	border: 2px solid #F141AD;
}
div#main ul.tasks li.task div.resolver li.name {
	font-size: 11px;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
	line-height: 1.2;
	display: block;
	float: right;
	width: 102px;
}
div#main ul.tasks li.resolved ul.comment {
	background-color: #FFCF63;
	color: #5c0404;
}

div#main ul.tasks li.resolved .section {
	float: right;
}
div#main ul.tasks li.resolved ul.comment,
div#main ul.tasks li.resolved ul.view {
	float: right;
	clear: none;
	}


/* URL:tasks_show */
div.ploblems_show div#main div.section {
	margin-left: 40px;
}
div.ploblems_show div#main div.description {
	padding-top: 15px;
}
div.tasks_show div#main div.main {
	font-size: 14px;
	float: right;
	width: 535px;
	padding-top: 15px;
}
div.tasks_show div#main div.content div.section ul.comments li.comment,
#main div.content div.post div.wrapper,
div.comments_edit #main div.content div.wrapper {
	display: block;
	border: 1px solid #E6EAD4;
	margin-bottom: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	clear: both;
	}
div.tasks_show div#main div.content div.section ul.comments li.correct {
	padding-right: 7px;
	padding-left: 9px;
	border: 3px solid #d4fd18;
	}
div.tasks_show div#main div.content div.section ul.user li.correct {
	padding-right: 0px;
	padding-left: 0px;
	border: none !important;
	padding-bottom: 5px;
	}



div.tasks_show div#main div.content div.section div.description,
#main div.content div.wmd-preview,
div.projects_show div#main div.content div.section div.description {
	font-size: 14px;
	padding-top: 0px;
}
div.projects_show div#main div.content div.section div.description {
	margin-bottom: 25px;
}
div.projects_show div#main div.content div.section div.description p {
	margin-bottom: 1.4em;
	line-height: 1.6;
}
div.tasks_show div#main div.content p,
#main div.content div.wmd-preview p {
	margin-bottom: 1.4em;
	line-height: 1.6;
}
div.tasks_show div#main div.content img,
#main div.content div.wmd-preview img {
  	max-width: 535px;
  	width:expression(document.body.clientWidth < 2? "0px" : document.body.clientWidth > 542? "535px" : "auto");}
div.tasks_show div#main div.description ul,
#main div.content div.wmd-preview ul {
	margin-bottom: 1.4em;
	line-height: 1.4;
	padding-left: 40px;
	list-style-position: outside;
	list-style-type: disc;
}
div.tasks_show div#main div.description li ul,
#main div.content div.wmd-preview li ul,
div.tasks_show div#main div.description li ol,
#main div.content div.wmd-preview li ol {
	padding-top: 20px;
}
div.tasks_show div#main div.description ol,
#main div.content div.wmd-preview ol
 {
	margin-bottom: 1.4em;
	line-height: 1.4;
	padding-left: 40px;
	list-style-position: outside;
	list-style-type: decimal;
}
div.tasks_show div#main div.description li,
#main div.content div.wmd-preview li {
	margin-bottom: 0.8em;
}
div.tasks_show div#main div.description h1,
#main div.content div.wmd-preview h1 {
	margin-bottom: 0.8em;
}
div.tasks_show div#main div.description h1,
#main div.content div.wmd-preview h1 {
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 22px;
	line-height: 1.4;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
div.tasks_show div#main div.description h2,
#main div.content div.wmd-preview h2 {
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 20px;
	line-height: 1.4;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
div.tasks_show div#main div.description h3,
#main div.content div.wmd-preview h3 {
	margin-bottom: 15px;
	font-size: 18px;
}
div.tasks_show div#main div.description h4,
#main div.content div.wmd-preview h4 {
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: bold;
}
div.tasks_show div#main div.description h5,
#main div.content div.wmd-preview h5 {
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
}




div.tasks_show div#main div.content div.section ul.comments li.comment div.commenter {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	list-style-type: none;
	float: right;
	width: 160px;
	padding-bottom: 10px;
	background-image: url(../images/hacker.gif);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-bottom: 10px;
}
div.tasks_show div#main div.content div.section ul.comments li.comment div.commenter div.user {
	clear: both;
	background-image: url(../images/user.gif);
	background-position: left top;
	padding-top: 12px;
	padding-right: 7px;
	padding-left: 7px;
	background-repeat: no-repeat;
}



div.tasks_show div#main div.content div.section ul.comments li.correct div.commenter {
	background-image: url(../images/correct.gif);
}
div.tasks_show div#main div.content div.section ul.comments li.correct div.commenter div.user {
	background-image: url(../images/correct_hacker.gif);
}


div.tasks_show div#main div.commenter div.user li.icon {
	float: left;
	display: block;
	height: 32px;
	width: 32px;
	margin-bottom: 8px;
}
div.tasks_show div#main div.commenter div.user li.icon img {
	height: 32px;
	width: 32px;
}
div.tasks_show div#main div.commenter div.user li.name {
display:block;
float:right;
font-size:10px;
line-height:1.2;
white-space:pre-wrap;
width:102px;
word-wrap:break-word;
}
div.tasks_show div#main div.content div.section ul.comments ul.commenter li.thanks {
	clear: both;
	margin-bottom: -2px;
}
div.tasks_show div#main div.content div.section ul.comments li.commenter .user input,
div.tasks_show div#main div.content div.section ul.comments li.commenter .thanks input {
	font-size: 11px;
	clear: both;
	width: 146px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin-top: 5px;
}
div#main div.content ul.loggedin {
	padding-top: 15px;
	padding-bottom: 10px;
	clear: both;
}
div#main div.content .section ul.loggedin {
	padding-top: 10px;
}
div#main div.content ul.loggedin li {
	display: inline;
}
div#main div.content ul.loggedin li a {
	display: block;
	float: left;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	margin-right: 8px;
	background-image: url(../images/logged_in.gif);
	background-repeat: repeat-x;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
div#main div.content ul.loggedin li a:link,
div#main div.content ul.loggedin li a:visited {
	background-color: #115894;
	color: #FFFFFF;
	background-position: 0px 0px;
}
div#main div.content ul.loggedin li a:hover,
div#main div.content ul.loggedin li a:active {
	background-color: #76E3DA;
	color: #ec189a;
	background-position: 0px -50px;
}
div#main div.content ul.loggedin li.show a:link,
div#main div.content ul.loggedin li.show a:visited {
	background-color: #115894;
	color: #FFFFFF;
	background-position: 0px 0px;
}
div#main div.content ul.loggedin li.show a:hover,
div#main div.content ul.loggedin li.show a:active {
	background-color: #76E3DA;
	color: #ec189a;
	background-position: 0px -50px;
}
div#main div.content ul.loggedin li.edit a:link,
div#main div.content ul.loggedin li.edit a:visited {
	background-color: #115894;
	color: #FFFFFF;
	background-position: 0px 0px;
}
div#main div.content ul.loggedin li.edit a:hover,
div#main div.content ul.loggedin li.edit a:active {
	background-color: #76E3DA;
	color: #ec189a;
	background-position: 0px -50px;
}
div#main div.content ul.loggedin li.delete a:link,
div#main div.content ul.loggedin li.delete a:visited {
	background-color: #115894;
	color: #FFFFFF;
	background-position: 0px 0px;
}
div#main div.content ul.loggedin li.delete a:hover,
div#main div.content ul.loggedin li.delete a:active {
	background-color: #76E3DA;
	color: #ec189a;
	background-position: 0px -50px;
}


div.tasks_show div#main div.content h3 {
	display: block;
	margin-bottom: 15px;
}
div.tasks_show div#main div.content h3 {
	font-size: 18px;
	font-weight: bold;
}
div.tasks_show div#main div.content div.post h3 {
	display: inline;
}
#main div.content div.section {
	border-top-width: 1px;
	border-top-style: dotted;
	clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-color: #B9B9B9;
	border-right-color: #B9B9B9;
	border-bottom-color: #B9B9B9;
	border-left-color: #B9B9B9;
}
div.projects_show #main div.content div.section{
	clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-color: #B9B9B9;
	border-right-color: #B9B9B9;
	border-bottom-color: #B9B9B9;
	border-left-color: #B9B9B9;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-top-style: none;
	margin-bottom: 20px;
}
div.about_license #main div.content div.section {
	clear: both;
	padding-top: 0px;
	padding-bottom: 15px;
	border-top-color: #B9B9B9;
	border-right-color: #B9B9B9;
	border-bottom-color: #B9B9B9;
	border-left-color: #B9B9B9;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-top-style: none;
	margin-bottom: 25px;
}
.tasks_new #main div.content div.post,
.tasks_create #main div.content div.post {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: -20px;
}



.accounts_edit #main div.content div.section,
.projects_edit #main div.content div.section,
.projects_new #main div.content div.section {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 7px;
}











div#main div.content pre code {
	display: block;
	line-height: 20px;
	background-color: #F8F8FF;
	background-image: url(../images/pre_code.gif);
	padding-left: 27px;
	font-size: 13px;
	margin-bottom: 1.4em;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
	width: 470px;
}






#flash div {
	width: 400px;
	text-align: center;
	background-color: #FFFF00;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	position: absolute;
	top: 16px;
	left: 320px;
	padding-top: 5px;
	padding-bottom: 5px;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
	font-weight: bold;
	color: #000000;
	font-size: 16px;
	line-height: 20px;
}
#comment_description,
#task_description {
	width: 100%;
	margin-bottom: 20px;
	height: 300px;
}
#main .content .post h4,
div.comments_edit div#main div.content h4 {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
	display: block;
}
form#new_comment {
	margin-top: 5px;
}




div.comments_edit div#main div.content div.section {
	margin-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#main .about p {
	line-height: 1.7;
	margin-bottom: 1.5em;
}
#main .about ul {
	margin-right: 25px;
	margin-bottom: 1.8em;
	list-style-type: square;
	padding-left: 25px;
	list-style-position: outside;
}
#main .about ol {
	margin-right: 25px;
	margin-bottom: 1.8em;
	list-style-type: decimal;
	padding-left: 25px;
	list-style-position: outside;
}
#main .about li {
	margin-bottom: 0.8em;
}
#main .about h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
	display: block;
}
#main .about blockquote,
div.tasks_show div#main div.content blockquote  {
	margin-bottom: 15px;
	background-color: #F7F7F7;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-image: url(../images/blockquote.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
div.tasks_show div#main div.content .comment blockquote,
#main div.content div.wmd-preview blockquote {
	margin-bottom: 15px;
	background-color: #F7F7F7;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin-right: 10px;
	margin-left: 0px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-image: url(../images/blockquote.gif);
	background-repeat: no-repeat;
	background-position: right top;
	width: 460px;
}






/* users_show */

div#main div.content .performance {
	float: left;
	width: 155px;
	margin-top: 15px;
	background-image: url(../images/users_show_performance.gif);
	margin-bottom: 15px;
	background-repeat: no-repeat;
	padding-top: 15px;
}
div.users_show div#main div.content .performance {
	margin-bottom: 30px;
}

div#main div.content ul.users {
	margin-right: -23px;
	padding-bottom: 15px;
}
div#main div.content li.performance {
	margin-right: 23px;
	margin-bottom: 15px;
	height: 240px;
	background-image: url(../images/performance.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
}
div#main div.content .performance dl {
	background-image: url(../images/performance_dl.gif);
}
div#main div.content .performance h3,
div#main div.content .performance dt {
	display: none;
}
div#main div.content .performance dd {
	display: block;
}
div#main div.content .performance dd.icon {
	padding-left: 10px;
	float: left;
	width: 58px;
	padding-bottom: 5px;
}
div#main div.content .performance dd.icon a img {
	height: 48px;
	width: 48px;
	border: 3px solid #FFFFFF;
	background-color: #FFFFFF;
}
div#main div.content .performance dd.icon a:link img,
div#main div.content .performance dd.icon a:visited img {
	border: 3px solid #FFFFFF;
}
div#main div.content .performance dd.icon a:hover img,
div#main div.content .performance dd.icon a:active img {
	border: 3px solid #ec189a;
}
div#main div.content .performance dd.profile {
	font-weight: bold;
	line-height: 12px;
	font-size: 10px;
	display: block;
	float: right;
	width: 78px;
	padding-bottom: 8px;
	padding-right: 8px;
}
div#main div.content .performance dd.twitter_account {
	font-weight: bold;
	font-size: 10px;
	display: block;
	float: right;
	width: 64px;
	padding-right: 10px;
	background-image: url(../images/twitter_account.gif);
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-bottom: 2px;
	text-indent: 14px;
}
div#main div.content .performance dd.twitter_account a,
div#main div.content .performance dd.profile a {
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
	line-height: 1.2;
}
div#main div.content .performance dd.state {
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	display: block;
	float: right;
	width: 78px;
	padding-bottom: 8px;
	padding-right: 8px;
}
div#main div.content .performance dd.state a {
	font-size: 10px;
	display: block;
	padding: 3px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	float: right;
}
div#main div.content .performance dd.favorite_language {
	font-weight: bold;
	line-height: 12px;
	height: 12px;
	font-size: 12px;
	display: block;
	padding-right: 20px;
	clear: both;
	padding-bottom: 16px;
}
div#main div.content .performance dd.favorite_language span {
	display: none;
}
div#main div.content .performance dd.favorite_language a {
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
	line-height: 1.2;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	background-image: url(../images/user_language.gif);
	background-position: right center;
	background-repeat: no-repeat;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DADADA;
	text-decoration: none;
}
	
div#main div.content .performance dd.solved,
div#main div.content .performance dd.task {
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	text-align: center;
	width: 72px;
	font-size: 18px;
	color: #FFFFFF;
	padding-bottom: 20px;
}
div#main div.content .performance dd.solved {
	float: left;
	padding-left: 5px;
	clear: both;
	background-image: url(../images/user_solved.gif);
	background-position: left top;
	padding-right: 1px;
}
div#main div.content .performance dd.task {
	float: right;
	padding-right: 5px;
	background-image: url(../images/user_solved.gif);
	background-position: right top;
}
div#main div.content .performance dd.bounty {
	text-align: center;
	clear: both;
	font-weight: bold;
	color: #EC189E;
	line-height: 27px;
	height: 27px;
	text-align: center;
	padding-top: 23px;
	background-image: url(../images/users_show_performance_bounty.gif);
}
div#main div.content .performance dd.thanks {
	text-align: center;
	clear: both;
	font-weight: bold;
	color: #EC189E;
	line-height: 27px;
	height: 27px;
	text-align: center;
	padding-top: 25px;
	background-image: url(../images/users_show_performance_thanks.gif);
	padding-bottom: 16px;
}




div#main div.content div.profile {
	padding-bottom: 20px;
	padding-right: 15px;
	float: right;
	width: 520px;
	margin-top: 15px;
}
div#main div.content div.profile h3 {
	display: none;
}
div#main div.content div.profile dl.user dt.icon,
div#main div.content div.profile dl.user .login {
	display: none;
}
div#main div.content div.profile dl.user {
	padding-right: 15px;
	line-height: 1.7;
}
div#main div.content div.profile dl.user dt {
	font-weight: bold;
	display: inline;
	white-space: nowrap;
	margin-right: 5px;
	font-size: 13px;
}
div#main div.content div.profile dl.user dd {
	display: inline;
	white-space: nowrap;
	margin-right: 15px;
	font-size: 13px;
}
div#main div.content div.profile h4.description {
	display: none;
}
div#main div.content div.profile p.description {
	display: block;
	margin-bottom: 15px;
	line-height: 1.7;
}
div#main div.content div.profile div.ssh_public_key {
	display: block;
	padding-top: 15px;
	clear: both;
}
div#main div.content div.profile div.ssh_public_key h4 {
	display: block;
	padding-bottom: 5px;
	font-weight: bold;
}
div#main div.content div.profile div.ssh_public_key p {
	display: block;
	font-size: 12px;
	background-color: #666666;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
	line-height: 1.2;
	color: #99FF00;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}


div.users_show div#main div.content div.solved_tasks h3,
div.accounts_show div#main div.content div.solved_tasks h3 {
	border-bottom-color: #115894;
	color: #115894;
}
div.users_show div#main div.content div.posted_tasks h3,
div.accounts_show div#main div.content div.posted_tasks h3 {
	border-bottom-color: #ec189a;
	color: #ec189a;
}
div.users_show div#main div.content div.posted_comments h3,
div.accounts_show div#main div.content div.posted_comments h3 {
	border-bottom-color: #0eba12;
	color: #0eba12;
}

div#main div.content div.main dl.information {
	margin-top: -3px;
	clear: both;
}
div#main div.content div.main .licence {
	display: block;
	font-size: 11px;
	line-height: 20px;
	height: 20px;
	font-weight: bold;
	background-repeat: no-repeat;
	float: right;
}
div#main div.content div.main dt.licence {
	background-position: left top;
	padding-right: 10px;
	padding-left: 10px;
	background-image: url(../images/licence.gif);
	height: 20px;
}
div#main div.content div.main dd.licence a {
	text-decoration: none;
	padding-right: 20px;
	padding-left: 10px;
	background-image: url(../images/licence.gif);
	border-left-width: 1px;
	border-left-style: solid;
	height: 20px;
	display: block;
}
div#main div.content div.main dd.licence a:link,
div#main div.content div.main dd.licence a:visited {
	background-position: right top;
	border-left-color: #063b66;
	color: #FFFFFF;
}
div#main div.content div.main dd.licence a:hover,
div#main div.content div.main dd.licence a:active {
	background-position: right bottom;
	border-left-color: #79d6ce;
	color: #F141AD;
}
div#main div.content div.main div.description {
	margin-top: 15px;
}
#header .nav img {
	height: 18px;
	width: 18px;
	text-decoration: none;
}





div p:last-child {
	margin-bottom: 0px !important;
}
ul li:last-child {
	margin-bottom: 0px !important;
}







div.commingoon {
	background-color: #FFFFFF;
	height: 560px;
	background-image: url(../images/comming-soon.gif);
	background-repeat: no-repeat;
	background-position: center 60px;
}
div.commingoon h1 {
	height: 350px;
}
div.commingoon p.smile_community {
	padding-bottom: 100px;
	font-weight: bold;
}
#footer ul.links li {
	display: inline;
	padding-right: 15px;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}
#footer ul.links li:last-child {
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#footer ul.links {
	display: block;
	text-align: center;
	padding-bottom: 25px;
}
label {
	font-weight: bold;
	margin-top: 15px;
	display: inline;
}
#new_task p {
	margin-top: 15px;
}
#new_task label input {
	margin-bottom: 20px;
}
div#errorExplanation {
	border: 3px solid #FF9966;
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	padding-top: 5px;
	padding-right: 12px;
	padding-bottom: 10px;
	padding-left: 12px;
}
div#errorExplanation h2 {
	padding: 12px;
	font-weight: bold;
	text-align: center;
	display: block;
	color: #FF9966;
}
div#errorExplanation ul {
	display: block;
	list-style-type: circle;
	margin-left: 25px;
	padding-top: 15px;
}
div.fieldWithErrors {
}
divfieldWithErrors p {
	display: none !important;
}
.fieldWithErrors label {
	display: inline !important;
}
#main div.post  div.section {
	border-top-style: none !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}
.tasks_new #main div.section {
	border-top-style: none !important;
}
div.tasks_create #main div.content div.section div.label span {
	display: inline;
}
.empty {
	padding-top: 15px;
}
#task_title,
#task_tag_list {
	width: 600px;
}
.pagination {
	clear: both;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 14px;
	line-height: 24px;
	height: 24px;
}

.pagination a {
	padding-top: 4px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 9px;
	font-weight: bold;
}
.pagination a:link,
.pagination a:visited {
	border: 2px solid #E9E9E9;
}
.pagination a:hover,
.pagination a:active {
	border: 2px solid #EC189A;
}
.pagination a.next_page {
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-weight: normal;
	color: #0000FF;
	text-decoration: underline;
	background-image: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.pagination .current {
	padding-top: 4px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 9px;
	font-weight: bold;
	color: #636D31;
	background-color: #D4FD18;
	border: 2px solid #bae107;
}




div.about_terms #main div.content ul {
	list-style-type: disc;
	margin-right: 0px;
	padding-left: 30px;
}
#main .content ul.attention {
	list-style-position: outside;
	list-style-type: square;
	padding-left: 25px;
	margin-right: 0px;
	margin-top: -30px;
	font-size: 15px;
	padding-bottom: 20px;
}
#main .content .attention li {
	padding-bottom: 8px;
	line-height: 1.4;
}
#main .content p.attention {
	padding-left: 0px;
	margin-right: 0px;
	margin-top: -15px;
	padding-bottom: 8px;
	line-height: 1.4;
	font-size: 12px;
}
#main .by_tag,
#main .by_category,
#main .by_language,
#main .by_state {
	margin-left: 20px;
	background-color: #9A9A9A;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 37px;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(../images/gray_arrow.gif);
	background-position: 17px center;
	background-repeat: no-repeat;
	line-height: 15px;
	height: 14px;
	display: block;
}
#main ol.bread_crumbs {
	margin-left: 20px;
	background-color: #9A9A9A;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 37px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 15px;
	height: 14px;
	display: block;
	text-align: right;
	padding-right: 15px;
}
.gist {
	clear: both;
	padding-top: 15px;
}
.gist .gist-data {
	clear: both;
	font-size: 12px !important;
}
.gist .gist-data {
	overflow: scroll;
	background-color: #F8F8FF !important;
}
#main .solved .sub .information .bounty span {
	color: #A3A3A3;
}
div#main div.content div.profile_list li {
	display: block;
	padding: 0px;
	clear: both;
	border: 1px solid #EFEFE7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
div#main div.content div.profile_list li,
div#main div.content ul.projects li {
	display: block;
	clear: both;
	border: 1px solid #EFEFE7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	background-image: url(../images/profile_lists_li.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-top-radius: 8px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	line-height: 14px;
	background-color: #fafafa;
}
div.projects_show div#main div.content div.profile_list li {
	margin-right: 10px;
}
div#main div.content div.profile_list {
	display: block;
	margin: 0px;
	clear: both;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
}
div#main div.content div.profile_list h3,
div.projects_show div#main div.content h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
	display: block;
}
div#main div.content div.profile_list ul {
	margin-top: -5px;
	margin-right: -10px;
	margin-bottom: 0px;
	margin-left: -5px;
	padding-left: 0px;
}
div.users_show div#main div.content div.profile_list ul {
	margin-right: 0px;
}

div#main div.content div.profile_list li div,
div#main div.content ul.projects li div {
	display: block;
	float: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-right: 6px;
	padding-bottom: 10px;
	padding-left: 6px;
	line-height: 19px;
	height: 19px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
div#main div.content div.profile_list li div.goods {
	display: block;
	font-weight: bold;
	border: 1px solid #80ded5;
	text-align: center;
	width: 40px;
	font-size: 13px;
	background-image: url(../images/profile_list_goods.gif);
	background-position: center center;
}
div#main div.content ul.projects li div.solved {
	display: block;
	font-weight: bold;
	border: 1px solid #0d4f87;
	text-align: center;
	width: 40px;
	font-size: 13px;
	background-image: url(../images/projects_list_solved.gif);
	background-position: center center;
	color: #FFFFFF;
}
div#main div.content div.profile_list li div.comments {
	display: block;
	background-color: #D4FD18;
	font-weight: bold;
	border: 1px solid #D4FD18;
	text-align: center;
	width: 40px;
	font-size: 13px;
	background-image: url(../images/profile_list_comments.gif);
}
div#main div.content ul.projects li div.unsolved {
	display: block;
	background-color: #c81f86;
	font-weight: bold;
	border: 1px solid #c81f86;
	text-align: center;
	width: 40px;
	font-size: 13px;
	background-image: url(../images/projects_list_unsolved.gif);
	color: #FFFFFF;
}
div#main div.content div.profile_list li div.title {
	display: block;
	width: 380px;
	line-height: 30px;
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
}
div#main div.content ul.projects li div.title {
	display: block;
	width: 460px;
	line-height: 30px;
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
}




div#main div.content div.profile_list li div.bounty {
	display: block;
	background-color: #FBFBFB;
	font-weight: bold;
	border: 1px solid #d8d8d8;
	text-align: center;
	width: 70px;
	font-size: 13px;
	line-height: 20px;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #ec189a;
	margin-top: 5px;
	margin-bottom: 5px;
}
div#main div.content div.profile_list li div.free {
	color: #A3A3A3;
}
div#main div.content div.profile_list li div.created_at,
div#main div.content ul.projects li div.created_at {
	display: block;
	text-align: center;
	width: 60px;
	font-size: 11px;
	line-height: 30px;
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
}
div#main div.content .profile_list p {
	background-color: #EFEFE7;
	margin-right: 170px;
	margin-left: 170px;
	display: block;
	text-align: center;
	line-height: 35px;
	height: 35px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
div#main div.content div.add_task {
	display: block;
	padding-bottom: 20px;
}
div#main div.content div.add_task a {
	display: block;
	width: 200px;
	background-image: url(../images/add_task.gif);
	height: 35px;
	text-indent: -9999px;
}
.add_task a:link,
.add_task a:visited {
	background-color: #bac682;
	background-position: left top;
}
.add_task a:hover,
.add_task a:active {
	background-color: #636D31;
	color: #FFFFFF;
	background-position: right -35px;
}
div.projects_show div#main div.content div.website_url,
div.projects_show div#main div.content div.repository_path {
	background-color: #EFEFE7;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	line-height: 25px;
	height: 25px;
	background-image: url(../images/projects_show_url.gif);
}
div#main div.content div.source_url {
	background-color: #EFEFE7;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	line-height: 25px;
	height: 25px;
	background-image: url(../images/tasks_show_url.gif);
	margin-top: 25px;
}
div.projects_show div#main div.content div.website_url h4,
div.projects_show div#main div.content div.repository_path h4,
div#main div.content div.source_url h4 {
	display: inline;
	padding-right: 20px;
	font-weight: bold;
	background-image: url(../images/projects_show_url_h4.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
div#main div.content ul.projects {
	padding-top: 15px;
}
div#main div.content ul.projects_buttons {
	clear: both;
	padding-top: 25px;
}
div#main div.content ul.projects_buttons a {
	background-image: url(../images/add_project.gif);
	height: 35px;
	width: 200px;
	text-indent: -9999px;
	display: block;
}
div#main div.content ul.projects_buttons a:link,
div#main div.content ul.projects_buttons a:visited {
	background-position: 0px 0px;
}
div#main div.content ul.projects_buttons a:hover,
div#main div.content ul.projects_buttons a:active {
	background-position: 0px -35px;
}
#new_task .option_toggle,
.tasks_edit .option_toggle {
	cursor: pointer;
	background-image: url(../images/option.gif);
	height: 35px;
	width: 200px;
	text-indent: -9999px;
	margin-top: 10px;
	margin-bottom: 10px;
}
div#main div.content div.sort {
	padding-top: 15px;
}
div#main div.content div.sort li {
	display: inline;
}
div#main div.content div.sort li a {
	display: block;
	float: left;
	height: 30px;
	margin-right: 10px;
	background-image: url(../images/sort_a.gif);
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
	padding-right: 14px;
	padding-left: 7px;
	font-size: 16px;
}
div#main div.content div.sort li a:link,
div#main div.content div.sort li a:visited {
	background-position: right 0px;
	color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #084476;
}
div#main div.content div.sort li a:hover,
div#main div.content div.sort li a:active {
	background-position: right -30px;
	color: #EC189A;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #6ad3ca;
}
div#main div.content div.profile div.accounts {
	padding-top: 10px;
}
div#main div.content div.profile div.accounts p a {
	display: block;
	margin-right: 10px;
	float: left;
	margin-bottom: 8px;
	height: 45px;
	width: 45px;
	text-indent: -9999px;
}
div#main div.content div.profile div.accounts p a:link,
div#main div.content div.profile div.accounts p a:visited {
	background-position: 0px 0px;
}
div#main div.content div.profile div.accounts p a:hover,
div#main div.content div.profile div.accounts p a:active {
	background-position: 0px -45px;
}
div#main div.content div.profile div.accounts p.twitter_account a {
	background-image: url(../images/twitter_account.gif);
}
div#main div.content div.profile div.accounts p.github_account a {
	background-image: url(../images/github_account.gif);
}
div#main div.content div.profile div.accounts p.bitbucket_account a {
	background-image: url(../images/bitbucket_account.gif);
}
div#main div.content div.profile div.accounts p.url a {
	background-image: url(../images/url.gif);
}
div.top_index div#main div.content div.pager {
	line-height: 35px;
	height: 35px;
	text-align: right;
}
div.top_index div#main div.content div.pager a {
	line-height: 35px;
	background-image: url(../images/top_index_pager_a.gif);
	height: 35px;
	padding-right: 50px;
	display: block;
	background-repeat: no-repeat;
	background-position: right center;
}
div#sub div.banner {
	padding-bottom: 15px;
}
