@charset "utf-8";
/* CSS Document */


/* 共通 */

.icon a img {
	height: 32px;
	width: 32px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.icon a:link img,
.icon a:visited img {
	border: 1px solid #EFEFE7;
}
.icon a:hover img,
.icon a:active img {
	border: 1px solid #ec189a;
}

/* 全体 */

body {
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #ebece5;
	display: block;
	background-color: #EFEFE7;
	background-image: url(../images/body.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
div#header {
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	height: 90px;
	background-image: url(../images/wrapper_nav.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 30px;
}
div#header h1 {
	float: left;
	height: 68px;
	width: 180px;
	display: block;
	margin-top: 9px;
	padding-left: 10px;
}
div#header h1 a {
	display: block;
	background-image: url(../images/h1_a.gif);
	text-indent: -9999px;
	height: 70px;
	width: 180px;
}
div#header h1 a:link,
div#header h1 a:visited {
	background-position: 0px 0px;
}
div#header h1 a:hover,
div#header h1 a:active {
	background-position: 0px -70px;
}
div#header .nav {
	display: block;
	float: right;
	background-color: #ebece5;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 15px;
	border-radius: 0px 0px 10px 10px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	margin-right: -10px;
	}
div#header .nav ul {
	display: block;
}
div#header .nav li {
	display: inline;
	padding-right: 5px;
}
div#wrapper {
	clear: both;
	background-image: url(../images/wrapper.gif);
	background-repeat: repeat-y;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}
div#wrapper .nav {
	width: 990px;
}
div#wrapper .nav ul {
	width: 770px;
	display: block;
	margin-top: -75px;
	float: right;
	padding-left: 10px;
}
div#wrapper .nav ul li {
	display: inline;
	line-height: 1;
	font-weight: bold;
}
div#wrapper .nav ul li span.current {
	display: block;
	background-color: #d4fd18;
	float: left;
	margin-right: 8px;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 10px;
	height: 24px;
	color: #636D31;
	font-size: 16px;
	font-weight: bold;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
div#wrapper .nav ul li a {
	display: block;
	float: left;
	height: 24px;
	margin-right: 8px;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 10px;
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	}
div#wrapper .nav ul li a:link,
div#wrapper .nav ul li a:visited {
	background-color: #bac682;
}
div#wrapper .nav ul li a:hover,
div#wrapper .nav ul li a:active {
	background-color: #636D31;
	color: #FFFFFF;
}
div#main {
	width: 750px;
	float: left;
	margin-top: -30px;
}






div#main .title {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #edff9b;
	padding-left: 15px;
	margin-left: 20px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 2px;
}
div#main div.title h2 {
	font-size: 24px;
	display: block;
	line-height: 32px;
	color: #59632d;
	font-weight: bold;
	border-bottom-style: none;
	width: 475px;
}
div#main div.main .title {
	margin-left: 0px;
	padding-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}










div#main div.content {
	padding-left: 15px;
	margin-left: 20px;
	color: #59632d;
	padding-right: 10px;
}
div#main div.content div#flash div {
	display: block;
	line-height: 1.3;
	color: #59632d;
	font-weight: bold;
	border: 1px solid #D4FD18;
	text-align: center;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
}
div.problems_show div#main div.content div.main div.title {
	padding-bottom: 20px;
	background-image: url(../images/problem_title.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-top: 0px;
	padding-right: 0px;
	clear: both;
}
div.problems_show div#main div.content div.main div.title div.good{
	float: right;
	height: 40px;
	width: 40px;
	background-color: #F141AD;
	margin-top: 3px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-opera-border-radius:8px;
	cursor: pointer;
}
div.problems_show div#main div.content div.main div.title form.new_vote{
	background-color: #E9E9E9;
	margin-top: 5px;
	display: block;
	padding: 8px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-opera-border-radius:8px;
	margin-bottom: 5px;
}
div.problems_show div#main div.content div.main div.title form.new_vote input{
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 435px;
	padding: 4px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-opera-border-radius:10px;
	font-size: 14px;
	line-height: 20px;
	display: block;
	float: left;
	height: 20px;
}
div.problems_show div#main div.content div.main div.title form.new_vote div.button a{
	display: block;
	background-color: #999999;
	float: right;
	height: 28px;
	width: 68px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-opera-border-radius:8px;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	line-height: 28px;
}
div.problems_show div#main div.content div.main div.title form.new_vote p{
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	margin: 0px;
	line-height: 1;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


div.problems_show div#main div.content div.title h3 {
	margin-bottom: 0px;
}
div.problems_show div#main div.content div.title h3 a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	height: 40px;
	padding-left: 7px;
	font-size: 11px;
	line-height: 40px;
	margin-right: 3px;
	margin-top: -7px;
	background-repeat: no-repeat;
	background-position: right center;
}

div.problems_show div.title .class-function-makin a {
	color: #115894;
	background-image: url(../images/class-function-making.gif);
}
div.problems_show div#main div.content div.title h2 .data-collection-and-making a {
	background-image: url(../images/data-collection-and-making.gif);
	color: #115894;
}
div.problems_show div#main div.content div.title h2 .debugging a {
	background-image: url(../images/debugging.gif);
	color: #115894;
}
div.problems_show div#main div.content div.title h2 .document-translation a {
	background-image: url(../images/document-translation.gif);
	color: #115894;
}
div.problems_show div#main div.content div.title h2 .library-making a {
	background-image: url(../images/library-making.gif);
	color: #115894;
}
div.problems_show div#main div.content div.title h2 .plugin-making a {
	background-image: url(../images/plugin-making.gif);
	color: #115894;
}
div.problems_show div#main div.content div.title h2 .programming-quiz a {
	background-image: url(../images/programming-quiz.gif);
	color: #115894;
}
div.problems_show div#main div.content div.title h2 .prototype-making a {
	background-image: url(../images/prototype-making.gif);
	color: #115894;
}
div.problems_show div#main div.content div.title h2 .software-making a {
	background-image: url(../images/software-making.gif);
	color: #115894;
}
div.problems_show div#main div.content div.title h2 .software-multilingualization a {
	background-image: url(../images/software-multilingualization.gif);
	color: #115894;
}
div.problems_show div#main div.content div.title h2 .technology-study a {
	background-image: url(../images/technology-study.gif);
	color: #115894;
}












#sub {
	float: right;
	width: 210px;
	padding-right: 20px;
	margin-top: -15px;
}
div#footer {
	clear: both;
	background-image: url(../images/footer.gif);
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 45px;
	padding-left: 45px;
	background-position: left bottom;
	padding-bottom: 45px;
	padding-top: 30px;
}
div.index #main h2 {
	background-image: url(../images/top_h2.gif);
}
div#main ul.problems {
	margin-left: 0px;
	margin-top: -10px;
}


 /* --clearfix-- */  
div#main ul.problems li.problem:after
 {
section: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
}

/* Win IE7 */
*:first-child+html div#main ul.problems li.problem
{
height: 1%;
}

div#main ul.problems li.problem {
  min-height: 1px;
  display: block;  /* ブロックレベル要素に */
}

* html div#main ul.problems li.problem {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/* Mac IE\*//*/
div#main ul.problems li.problem {
display: inline-table;
}
/* End Mac IE */

div#footer p.copyright {
	text-align: center;
	display: block;
}
div#sub div.section {
	background-color: #f5f7ed;
	margin-bottom: 13px;
	background-image: url(../images/sub_section.gif);
}
div#sub div.section h3 {
	background-image: url(../images/sub_section_h3.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	padding-right: 8px;
	padding-left: 8px;
	font-weight: bold;
	display: block;
	padding-bottom: 6px;
	font-size: 14px;
}
div#sub div.section p {
	padding-right: 8px;
	padding-left: 8px;
 	margin-bottom: 1em;
}

div#sub div.section ul {
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 8px;
	padding-left: 7px;
	margin-right: 1px;
	margin-left: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #76e3da;
}
div#sub div.section ol {
	padding-top: 0px;
	padding-right: 7px;
	padding-bottom: 8px;
	padding-left: 7px;
	margin-right: 1px;
	margin-left: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EFFF9C;
}
div#sub div.section li {
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #d0d0d0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
}
div#sub div.section .to_archive {
	padding-top: 0px;
	padding-bottom: 8px;
	background-image: url(../images/sub_section_to_archive.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-right: 12px;
	padding-left: 8px;
	text-align: right;
	display: block;
	font-size: 12px;
}



/* URL:top */
div.top div#main ul.problems li.problem h3.title {
	float: right;
	width: 580px;
	font-size: 16px;
}


/* URL:problems */
div#main ul.problems li.problem {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b9b9b9;
	clear: both;
	overflow: hidden;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 15px;
	}
div#main ul.problems li.problem:last-child {
	border-bottom-style: none;
}
div#main ul.problems li.problem:first-child {
	padding-top: 25px;
}
div#main ul.problems li.problem h3.title {
	display: block;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	padding-right: 5px;
	padding-bottom: 20px;
	background-image: url(../images/problem_title.gif);
	padding-top: 0px;
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-bottom: 8px;
}
div#main ul.problems li.solved h3.title {
	background-image: url(../images/solved_title.gif);
}
div#main ul.problems li.problem .description {
	display: block;
	line-height: 1.5;
	font-size: 14px;
}
div#main .problem ul.tags {
	clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
}
div#main .problem ul.tags li {
	display: inline;
}
div#main .problem ul.tags li a {
	display: block;
	float: left;
	line-height: 24px;
	height: 24px;
	margin-right: 8px;
	padding-right: 12px;
	background-image: url(../images/question_tag.gif);
	padding-left: 5px;
	background-position: right top;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 5px;
}
div#main .problem ul.tags li a:link,
div#main .problem ul.tags li a:visited {
	background-position: right top;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #223da3;
	color: #FFFFFF;
}
div#main .problem ul.tags li a:hover,
div#main .problem ul.tags li a:active {
	background-position: right -24px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #57c9c0;
	color: #ec189a;
}
div#main .problem .main {
	width: 535px;
	float: right;
}
div#main .problem div.sub {
	float: left;
	width: 155px;
	background-image: url(../images/probrem_sub.jpg);
	background-repeat: no-repeat;
	line-height: 1;
	background-position: center bottom;
	margin-top: -5px;
}
div#main div.problem div.sub {
	margin-top: 10px;
}
div#main .problem div.information dl,
div#main .problem div.information dt,
div#main .problem div.information dd {
	display: block;
}
div#main .problem div.information dl {
	padding-bottom: 7px;
	background-image: url(../images/problem_sub_dl.gif);
	background-repeat: no-repeat;
	padding-right: 5px;
	padding-left: 5px;
}
div#main ul.problems li.solved div.information dl {
	background-image: url(../images/solved_sub_dl.gif);
}


div#main .problem div.information dt {
	display: none;
}
div#main .problem div.information dd.language {
	line-height: 21px;
	height: 21px;
	font-size: 12px;
	font-weight: bold;
	padding-top: 8px;
}
div#main .problem div.information dd.language a {
	line-height: 20px;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	display: block;
	float: right;
	text-decoration: none;
	padding-right: 7px;
	padding-left: 7px;
	-webkit-border: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-opera-border-radius: 4px;
	color: #5A5A5A;
	background-color: #EDFF9B;
	margin-bottom: 4px;
}
div#main .problem div.information dd.category {
	line-height: 20px;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	margin-right: -5px;
	margin-left: -5px;
	padding-top: 3px;
	clear: both;
	text-align: center;
	padding-bottom: 1px;
}
div#main .problem div.information dd.category a {
	line-height: 22px;
	height: 22px;
	font-size: 12px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	background-position: left center;
	background-repeat: no-repeat;
}
div#main .class-function-making div.information dd.category {
	border-bottom-color: #F141AD;
}
div#main .class-function-making div.information dd.category a {
	color: #F141AD;
}
div#main .data-collection-and-making div.information dd.category {
	border-bottom-color: #e92944;
}
div#main .data-collection-and-making div.information dd.category a {
	color: #e92944;
}
div#main .debugging div.information dd.category {
	border-bottom-color: #0eba12;
}
div#main .debugging div.information dd.category a {
	color: #0eba12;
}
div#main .document-translation div.information dd.category {
	border-bottom-color: #b1be75;
}
div#main .document-translation div.information dd.category a {
	color: #b1be75;
}
div#main .library-making div.information dd.category {
	border-bottom-color: #7c55b0;
}
div#main .library-making div.information dd.category a {
	color: #7c55b0;
}
div#main .plugin-making div.information dd.category {
	border-bottom-color: #e96d12;
}
div#main .plugin-making div.information dd.category a {
	color: #e96d12;
}
div#main .programming-quiz div.information dd.category {
	border-bottom-color: #0d4b7f;
}
div#main .programming-quiz div.information dd.category a {
	color: #0d4b7f;
}
div#main .prototype-making div.information dd.category {
	border-bottom-color: #df628e;
}
div#main .prototype-making div.information dd.category a {
	color: #df628e;
}
div#main .software-making div.information dd.category {
	border-bottom-color: #b0d40b;
}
div#main .software-making div.information dd.category a {
	color: #b0d40b;
}
div#main .software-multilingualization div.information dd.category {
	border-bottom-color: #e6c510;
}
div#main .software-multilingualization div.information dd.category a {
	color: #e6c510;
}
div#main .technology-study div.information dd.category {
	border-bottom-color: #1ca4c1;
}
div#main .technology-study div.information dd.category a {
	color: #1ca4c1;
}


div#main .problem div.information dd.bounty {
	margin-top: 8px;
	font-weight: bold;
	color: #EC189E;
	line-height: 27px;
	height: 27px;
	text-align: center;
}
div#main .problem div.information dl dd.bounty span {
	font-weight: bold;
	color: #ec189a;
	font-size: 16px;
}
div#main ul.problems li.solved div.information dl dd.bounty span {
	color: #a3a3a3;
}

div#main .problem div.information ul.retweet,
div#main .problem div.information ul.answer {
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	text-align: center;
	width: 72px;
	font-size: 18px;
	padding-top: 2px;
}
div#main .problem div.information ul.retweet li.label,
div#main .problem div.information ul.answer li.label {
	display: none;
}
div#main .problem div.information ul.retweet {
	float: left;
	padding-left: 5px;
}
div#main .problem div.information ul.answer {
	float: right;
	padding-right: 5px;
}
div#main .problem div.information li.icon {
	display: block;
	height: 33px;
	width: 33px;
	float: left;
	background-color: #FFFFFF;
}
div#main .problem div.information li.icon img {
	height: 32px;
	width: 32px;
}
div#main .problem div.information li.name {
	font-size: 11px;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
	line-height: 1.2;
	display: block;
	float: right;
	width: 102px;
}
div#main .problem div.information div.person {
	clear: both;
	padding-top: 14px;
	padding-bottom: 10px;
	padding-right: 7px;
	padding-left: 7px;
}
div#main .problem div.information div.person h4 {
	font-size: 12px;
	display: block;
	text-align: center;
	padding-top: 9px;
	line-height: 12px;
	height: 12px;
	font-weight: bold;
}
div#main .problem div.information div.person ul {
	padding-top: 4px;
}
div#main .problem div.information div.created_at {
	clear: both;
	text-align: center;
	border: 2px solid #C0C0C0;
	padding: 3px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-opera-border-radius:10px;
	margin-top: 8px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
}















/* resolved */
div#main ul.problems li.resolved {
	margin-bottom: 10px;
	background-color: #fcffb0;
	background-repeat: no-repeat;
	background-position: left center;
}
div#main ul.problems li.resolved div.user dl.bounty {
	background-color: #d7d7d7;
}
div#main ul.problems li.problem div.resolver {
	float: right;
	width: 146px;
	height: 70px;
	margin-left: 10px;
	background-image: url(../images/problem_resolver.gif);
	padding-top: 10px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	margin-top: -10px;
}
div#main ul.problems li.problem div.resolver li.icon {
	display: block;
	height: 34px;
	width: 34px;
	float: left;
}
div#main ul.problems li.problem div.resolver h4 {
	display: block;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 7px;
	font-weight: bold;
	color: #666666;
	text-align: center;
}
div#main ul.problems li.problem div.resolver li.icon img {
	height: 32px;
	width: 32px;
}
div#main ul.problems li.problem div.resolver li.icon a img {
	height: 32px;
	width: 32px;
}
div#main ul.problems li.problem div.resolver li.icon a:link img,
div#main ul.problems li.problem div.resolver li.icon a:visited img {
	height: 32px;
	width: 32px;
	border: 2px solid #FFFF00;
}
div#main ul.problems li.problem div.resolver li.icon a:hover img,
div#main ul.problems li.problem div.resolver li.icon a:active img {
	height: 32px;
	width: 32px;
	border: 2px solid #F141AD;
}
div#main ul.problems li.problem div.resolver li.name {
	font-size: 11px;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
	line-height: 1.2;
	display: block;
	float: right;
	width: 102px;
}
div#main ul.problems li.resolved ul.answer {
	background-color: #FFCF63;
	color: #5c0404;
}

div#main ul.problems li.resolved .section {
	float: right;
}
div#main ul.problems li.resolved ul.answer,
div#main ul.problems li.resolved ul.view {
	float: right;
	clear: none;
	}


/* URL:problems_show */
div.ploblems_show div#main div.section {
	margin-left: 40px;
}
div.ploblems_show div#main div.description {
	padding-top: 15px;
}
div.problems_show div#main div.main {
	font-size: 14px;
	float: right;
	width: 535px;
	padding-top: 15px;
}
div.problems_show div#main div.content div.section ul.answers li.answer,
#main div.content div.post div.wrapper {
	display: block;
	border: 1px solid #E6EAD4;
	margin-bottom: 10px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 12px;
	clear: both;
	}
div.problems_show div#main div.content div.section ul.answers li.correct {
	padding-right: 7px;
	padding-left: 9px;
	border: 3px solid #d4fd18;
	}
div.problems_show div#main div.content div.section ul.user li.correct {
	padding-right: 0px;
	padding-left: 0px;
	border: none !important;
	}
div.problems_show div#main div.content div.section ul.answers li.answer  div.description,
#main div.content div.post div.wrapper div.wmd-preview {
	font-size: 14px;
	float: left;
	width: 510px;
	padding-top: 0px;
}
div.problems_show div#main div.content p,
#main div.content div.post div.wrapper div.wmd-preview p {
	margin-bottom: 1.4em;
	line-height: 1.6;
}
div.problems_show div#main li.answer div.description ul,
#main div.content div.post div.wrapper div.wmd-preview ul {
	margin-bottom: 1.4em;
	line-height: 1.4;
	padding-left: 40px;
	list-style-position: outside;
	list-style-type: disc;
}
div.problems_show div#main li.answer div.description ol,
#main div.content div.post div.wrapper div.wmd-preview ol {
	margin-bottom: 1.4em;
	line-height: 1.4;
	padding-left: 40px;
	list-style-position: outside;
	list-style-type: decimal;
}
div.problems_show div#main li.answer div.description li,
#main div.content div.post div.wrapper div.wmd-preview li {
	margin-bottom: 0.8em;
}
div.problems_show div#main li.answer div.description h1,
#main div.content div.post div.wrapper div.wmd-preview h1 {
	margin-bottom: 0.8em;
}
div.problems_show div#main li.answer div.description h1,
#main div.content div.post div.wrapper div.wmd-preview h1 {
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 22px;
	line-height: 1.4;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
div.problems_show div#main li.answer div.description h2,
#main div.content div.post div.wrapper div.wmd-preview h2 {
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 20px;
	line-height: 1.4;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
div.problems_show div#main li.answer div.description h3,
#main div.content div.post div.wrapper div.wmd-preview h3 {
	margin-bottom: 15px;
	font-size: 18px;
}
div.problems_show div#main li.answer div.description h4,
#main div.content div.post div.wrapper div.wmd-preview h4 {
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: bold;
}
div.problems_show div#main li.answer div.description h5,
#main div.content div.post div.wrapper div.wmd-preview h5 {
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
}




div.problems_show div#main div.content div.section ul.answers li.answer ul.user {
	float: right;
	width: 140px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
}
div.problems_show div#main div.content div.section ul.answers li.answer ul.user li.icon {
	float: left;
	display: block;
	height: 32px;
	width: 32px;
}
div.problems_show div#main div.content div.section ul.answers li.answer ul.user li.icon img {
	height: 32px;
	width: 32px;
}
div.problems_show div#main div.content div.section ul.answers li.answer ul.user li.name {
	font-size: 10px;
	float: right;
	width: 100px;
	display: block;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
	line-height: 1.2;
}
div.problems_show div#main div.content div.section ul.answers ul.user li.thanks {
	clear: both;
	padding-top: 10px;
}
div.problems_show div#main div.content div.section ul.answers ul.loggedin {
	clear: both;
	padding-top: 10px;
}
div.problems_show div#main div.content div.section ul.answers ul.loggedin li {
	display: inline;
}
div.problems_show div#main div.content div.section ul.answers ul.loggedin li a {
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	margin-right: 8px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
div.problems_show div#main div.content div.section ul.answers ul.loggedin li.edit a:link,
div.problems_show div#main div.content div.section ul.answers ul.loggedin li.edit a:visited {
	background-color: #115894;
	color: #FFFFFF;
}
div.problems_show div#main div.content div.section ul.answers ul.loggedin li.edit a:hover,
div.problems_show div#main div.content div.section ul.answers ul.loggedin li.edit a:active {
	background-color: #76E3DA;
	color: #ec189a;
}
div.problems_show div#main div.content div.section ul.answers ul.loggedin li.delete a:link,
div.problems_show div#main div.content div.section ul.answers ul.loggedin li.delete a:visited {
	background-color: #115894;
	color: #FFFFFF;
}
div.problems_show div#main div.content div.section ul.answers ul.loggedin li.delete a:hover,
div.problems_show div#main div.content div.section ul.answers ul.loggedin li.delete a:active {
	background-color: #76E3DA;
	color: #ec189a;
}


div.problems_show div#main div.content h3 {
	display: block;
	margin-bottom: 10px;
}
div.problems_show div#main div.content h3 {
	font-size: 18px;
	font-weight: bold;
}
div.problems_show div#main div.content div.post h3 {
	display: inline;
}
div.problems_show div#main div.content div.section {
	border-top-width: 1px;
	border-top-style: dotted;
	clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-color: #B9B9B9;
	border-right-color: #B9B9B9;
	border-bottom-color: #B9B9B9;
	border-left-color: #B9B9B9;
}
div.problems_show div#main div.content div.section ul.answers li.answer input {
	font-size: 11px;
	clear: both;
	width: 140px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	display: block;
}
div.problems_show div#main div.content div.section ul.answers li.thanks input {
	font-size: 11px;
	clear: both;
	width: 140px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	display: block;
}







div#main div.content ul.users {
	padding-bottom: 15px;
	padding-top: 15px;
}
div#main div.content ul.users li.user {
	float: left;
	width: 120px;
	margin-right: 7px;
	border: 1px solid #EFEFE7;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	margin-bottom: 10px;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 4px;
	padding-left: 7px;
	height: 85px;
  }
div#main div.content ul.users li.user div.icon {
	float: left;
	height: 33px;
	width: 33px;
  }
div#main div.content ul.users li.user div.icon img {
	height: 32px;
	width: 32px;
  }
div#main div.content ul.users li.user div.name {
	float: right;
	height: 32px;
	width: 82px;
	font-size: 12px;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
	line-height: 1.2;
  }
div#main div.content ul.users li.user div.retweet {
	float: left;
	height: 22px;
	width: 40px;
	line-height: 22px;
	font-size: 12px;
	background-image: url(../images/user_retweet.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
	font-weight: bold;
	clear: both;
	margin-top: 5px;
  }
div#main div.content ul.users li.user div.prize {
	float: right;
	height: 22px;
	width: 40px;
	line-height: 22px;
	font-size: 12px;
	background-image: url(../images/user_prize.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
	font-weight: bold;
	margin-top: 5px;
  }
div#main div.content ul.users li.user dl.language {
	height: 22px;
	line-height: 22px;
	font-size: 11px;
	font-weight: bold;
	clear: both;
  }
div#main div.content ul.users li.user dl.language dt,
div#main div.content ul.users li.user dl.language dd {
	display: block;
	float: left;
  }
div#main div.content ul.users li.user dl.language dt {
	padding-right: 5px;
	float: left;
  }
div#main div.content ul.users li.user dl.language dd a {
	text-decoration: none;
	background-image: url(../images/user_language_a.gif);
	display: block;
	height: 16px;
	margin-top: 3px;
	line-height: 16px;
	padding-right: 7px;
	padding-left: 3px;
	float: left;
	font-size: 10px;
  }
div#main div.content ul.users li.user dl.language dd a:link,
div#main div.content ul.users li.user dl.language dd a:visited {
	background-position: right 0px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #223da3;
	color: #FFFFFF;
  }
div#main div.content ul.users li.user dl.language dd a:hover,
div#main div.content ul.users li.user dl.language dd a:active {
	background-position: right -16px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #57c9c0;
	color: #ec189a;
  }







div.commingoon {
	background-color: #FFFFFF;
	height: 560px;
	background-image: url(../images/comming-soon.gif);
	background-repeat: no-repeat;
	background-position: center 60px;
}
div.commingoon h1 {
	height: 350px;
}
div.commingoon p.smile_community {
	padding-bottom: 100px;
	font-weight: bold;
}
div#main div.content pre code {
	display: block;
	margin-right: 10px;
	margin-left: 10px;
	line-height: 20px;
	background-color: #F8F8FF;
	background-image: url(../images/pre_code.gif);
	padding-left: 27px;
	font-size: 13px;
	margin-bottom: 20px;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
}




.str {
color:#008800;
}
.kwd {
color:#000088;
}
.com {
color:#880000;
}
.typ {
color:#660066;
}
.lit {
color:#006666;
}
.pun {
color:#666600;
}
.pln {
color:#000000;
}
.tag {
color:#000088;
}
.atn {
color:#660066;
}
.atv {
color:#008800;
}
.dec {
color:#660066;
}
.str {
color:#006600;
}
.kwd {
color:#000066;
font-weight:bold;
}
.com {
color:#660000;
font-style:italic;
}
.typ {
color:#440044;
font-weight:bold;
}
.lit {
color:#004444;
}
.pun {
color:#444400;
}
.pln {
color:#000000;
}
.tag {
color:#000066;
font-weight:bold;
}
.atn {
color:#440044;
}
.atv {
color:#006600;
}


#flash div {
	width: 400px;
	text-align: center;
	background-color: #FFFF00;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	position: absolute;
	top: 16px;
	left: 320px;
	padding-top: 5px;
	padding-bottom: 5px;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
	font-weight: bold;
	color: #000000;
	font-size: 16px;
	line-height: 20px;
}
#main .content .post #answer_description {
	width: 100%;
	margin-bottom: 20px;
	height: 300px;
}
#main .content .post h4 {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
	display: block;
}
form#new_answer {
	margin-top: 15px;
}




div.answers_edit div#main div.content div.section {
	margin-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#main .about p {
	line-height: 1.7;
	margin-bottom: 1.5em;
	margin-right: 25px;
}
#main .about ul {
	margin-right: 25px;
	margin-bottom: 1.4em;
	margin-right: 25px;
}
#main .about li {
	margin-bottom: 0.8em;
}
#main .about h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-right: 25px;
}






/* users_show */

div.users_show div#main div.content div.performance {
	padding-top: 33px;
	float: left;
	width: 155px;
	margin-top: 5px;
	background-image: url(../images/users_show_performance.gif);
	padding-bottom: 20px;
	margin-bottom: 15px;
}
div.users_show div#main div.content div.performance h3,
div.users_show div#main div.content div.performance dt {
	display: none;
}
div.users_show div#main div.content div.performance dd {
	display: block;
}
div.users_show div#main div.content div.performance dd.icon {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 3px;
}
div.users_show div#main div.content div.performance dd.icon a img {
	height: 48px;
	width: 48px;
	border: 3px solid #FFFFFF;
	background-color: #FFFFFF;
}


div.users_show div#main div.content div.performance dd.solved,
div.users_show div#main div.content div.performance dd.problem {
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	text-align: center;
	width: 72px;
	font-size: 18px;
	padding-top: 2px;
}
div.users_show div#main div.content div.performance dd.solved {
	float: left;
	padding-left: 5px;
}
div.users_show div#main div.content div.performance dd.problem {
	float: right;
	padding-right: 5px;
}
div.users_show div#main div.content div.performance dd.bounty {
	text-align: center;
	clear: both;
	font-weight: bold;
	color: #EC189E;
	line-height: 27px;
	height: 27px;
	text-align: center;
	padding-top: 43px;
}
div.users_show div#main div.content div.performance dd.thanks {
	text-align: center;
	clear: both;
	font-weight: bold;
	color: #EC189E;
	line-height: 27px;
	height: 27px;
	text-align: center;
	padding-top: 25px;
}




div.users_show div#main div.content div.profile {
	padding-bottom: 20px;
	padding-right: 15px;
	float: right;
	width: 520px;
	margin-top: 15px;
}
div.users_show div#main div.content div.profile h3 {
	display: none;
}
div.users_show div#main div.content div.profile dl.user dt.icon,
div.users_show div#main div.content div.profile dl.user .login {
	display: none;
}
div.users_show div#main div.content div.profile dl.user {
	padding-right: 15px;
	line-height: 1.7;
}
div.users_show div#main div.content div.profile dl.user dt {
	font-weight: bold;
	display: inline;
	white-space: nowrap;
	margin-right: 5px;
	font-size: 13px;
}
div.users_show div#main div.content div.profile dl.user dd {
	display: inline;
	white-space: nowrap;
	margin-right: 15px;
	font-size: 13px;
}
div.users_show div#main div.content div.profile h4.description {
	display: none;
}
div.users_show div#main div.content div.profile p.description {
	display: block;
	margin-bottom: 15px;
	line-height: 1.7;
}
div.users_show div#main div.content div.profile div.ssh_public_key {
	display: block;
	padding-top: 20px;
}
div.users_show div#main div.content div.profile div.ssh_public_key h4 {
	display: block;
	padding-bottom: 5px;
	font-weight: bold;
}
div.users_show div#main div.content div.profile div.ssh_public_key p {
	display: block;
	font-size: 12px;
	background-color: #666666;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE */
	line-height: 1.2;
	color: #99FF00;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
}


div.users_show div#main div.content div.solved_problems,
div.users_show div#main div.content div.posted_problems,
div.users_show div#main div.content div.posted_answers {
	clear: both;
	padding-bottom: 20px;
}
div.users_show div#main div.content div.solved_problems h3,
div.users_show div#main div.content div.posted_problems h3,
div.users_show div#main div.content div.posted_answers h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
}
div.users_show div#main div.content div.solved_problems ul,
div.users_show div#main div.content div.posted_problems ul,
div.users_show div#main div.content div.posted_answers ul {
	margin-left: 20px;
	padding-left: 20px;
	list-style-type: disc !important;
}
div.users_show div#main div.content div.solved_problems li,
div.users_show div#main div.content div.posted_problems li,
div.users_show div#main div.content div.posted_answers li {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

div#main div.content div.main dl.information {
	margin-top: -5px;
	text-align: right;
	clear: both;
}
div#main div.content div.main .licence {
	display: inline;
}
div#main div.content div.main div.description {
	margin-top: 15px;
}
