@charset "utf-8";
/* CSS Document */

 /* --clearfix-- */  
.clearfix:after,
div:after,
ul:after,
dl:after,
form:after,
blockquote:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;
}

.clearfix,
div,
ul,
dl,
form,
blockquote {
  min-height: 1px;
  display: block;  /* ブロックレベル要素に */
}

 /* 
 ブラウザの初期設定をリセットする為のCSS
 */  
   
 /* --HTML-- */  
 html {
	overflow-y:scroll;
 }  
   
 /* --BODY-- */  
 body {
	margin:0;
	overflow:visible;
	padding:0;
	line-height: 1.4;
	font-family:"Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,"ヒラギノ丸ゴ Pro W4",HiraMaruPro-W4,"ヒラギノ角ゴ Pro W3",HiraKakuPro-W3,Osaka,sans-serif;	font-size: 13px;
	color: #656565;
	background-color: #e8e8e8;
 } 
   
 /* --OTHER TAGS-- */  
 a img, fieldset, img {  
 border:0;  
 }  
   
 blockquote, dd, div, dl, dt, fieldset, form,  
 h1, h2, h3, h4, h5, h6, input, li, ol, p, pre,  
 select, span, textarea, td, th, ul {
	margin:0;
	padding:0;
 }  
  
 h1, h2, h3, h4, h5, h6, input {
    font-family:"Myriad Pro SemiBold","Myriad Bold","Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,"ヒラギノ角ゴ Pro W6",HiraKakuPro-W6,Osaka,sans-serif;
 }  
 
 

   
 abbr, acronym {  
 border:0;  
 }  
   
 address, caption, cite, code, dfn, em, th, strong, var {  
 font-style:normal;  
 font-weight:normal;  
 }  
   
 caption, th {  
 text-align:left;  
 }  
   
 code, kbd, pre, samp, tt {  
 font-family:monospace;  
 line-height:100%;  
 }  
   
 /* for IE7 */  
 *+html code, kbd, pre, samp, tt {  
 font-size:108%;  
 }  
   
 h1, h2, h3, h4, h5, h6 {
font-size:100%;
font-weight:normal;
line-height: 1;
 }  
 input, select, textarea{  
 font-size:100%;  
	font-family: 'Lucida Grande',Verdana,Arial,'Hiragino Kaku Gothic Pro',Meiryo,'メイリオ',sans-serif;
 }  
   
 ol, ul {  
 list-style:none;  
 }  
   
 q:before, q:after {  
 content:'';  
 }  
   
 /* tables still need 'cellspacing="0"' */  
 table {  
 border-collapse:collapse;  
 border-spacing:0;  
 font-size:100%;  
 }  

 a {
overflow: hidden
 }  

 a:link,a:visited {
color: #1f8fb8;
 }  
 a:hover,a:active {
color: #ec189a;
 }
 
 .design {
background-repeat: no-repeat;
text-indent: -9999px;
display: block;
 }
 .design_a a {
background-repeat: no-repeat;
text-indent: -9999px;
display: block;
 }
.print {
display: none;
}
.center {
text-align: center;
display: block;
}
.hidden {
	display: none;
	visibility: hidden;
}
