.posted_answers.list
  %h3 投稿した回答
  - if user.answers.empty?
    %p= t('label.nothing_posted_answers')
  - else
    %ul.answers
      - user.answers.each do |answer|
        %li.answer=link_to h(answer.problem.title), problem_path(answer.problem)
