.posted_comments.profile_list
  %h3 コメントしたタスク
  - if user.comments.empty?
    %p= t('label.nothing_posted_comments')
  - else
    %ul.tasks
      - tasks = user.comments.correct.map {|c| c.task }
      = render :partial => 'tasks/object_small', :collection => tasks
