.posted_tasks.profile_list
  %h3 登録したタスク
  - if user.tasks.count.zero?
    %p= t('label.nothing_posted_tasks')
  - else
    %ul.tasks
      = render :partial => 'tasks/object_small', :collection => user.tasks
