.solved_problems.list
  %h3 解決した問題
  - if user.hacks.correct.empty?
    %p= t('label.nothing_posted_hacks')
  - else
    %ul.hacks
      - user.hacks.correct.each do |hack|
        %li.hack=link_to h(hack.problem.title), problem_path(hack.problem)
