%li.user
  .name= link_to user.login, user_path(user)
  .icon= link_to image_tag(user.profile_image_url), user_path(user)
  .prize= user.prize
  - if user.language
    %dl.language
      %dt 言語
      %dd=link_to t("label.language.#{user.language.name}"), users_by_language_path(:language => user.language.name)
