.title
  %h2= users_title
.content
  - if @users.empty?
    %p 該当するユーザーがいません。
  - else
  %ul.users
    - @users.each do |user|
      %li.user.performance
        = render :partial => 'user', :locals => {:user => user}
  = will_paginate(@users)
