.user
  .content
    = render :partial => 'profile', :locals => {:user => @user}
  = render :partial => 'solved_tasks', :locals => {:user => @user}
  = render :partial => 'posted_tasks', :locals => {:user => @user}
  = render :partial => 'posted_comments', :locals => {:user => @user}
