%ul.projects
  %li.project
    .solved= project.solved_task_count
    .unsolved= project.unsolved_task_count
    .title=link_to pretty_truncate(h(project.name), :length => 32), project
    .created_at== #{time_ago_in_words project.created_at}å‰
