.content
  %h2 ヒント
  %ul
    %li
      %p Help me, hackers!は「プログラム開発の依頼と解決のプラットフォーム」です。プログラマーにとって解決したくなるようなコンピューター上の課題が集まるコミュニティを目指しています。
    %li
      %p あなたの会社のBTSに塩漬けになってるタスクがありませんか？
      %p Help me, hackers!に載せたら誰かが一瞬で解決しちゃうかも？
    %li
      %p 勉強がてらプログラミングするも良し。賞金稼ぎを狙うも良し。
    %li
      %p オープンソースプロジェクトの運営者の方、BTS上の難問をこちらにも転載してみるのはどうでしょうか。既存のプラットフォームから乗り換える必要はありません。
      %p 「Help me, hackers!は全くの無料での依頼も可能。」ホットな難問には優秀なHackerが取り組んでくれるかもしれません。
    %li
      %p== #{link_to 'アカウント修正ページ', edit_account_path}では好きな言語を登録して下さい。仕事で得意な言語ではなく、心の言語を一つだけ。
    %li
      %p 「Hackerは自宅警備も疎かにしない」ってコピーを考えたんですが・・・。
    %li
      %p 解決してもらうコツはプログラマーにとって面白い問題設定にすること。前提とゴールは明確に。
