.title
  %h2 Help me, hackers!について
.binding
  %p.hidden
    「こんなプログラムがあったらいいのに…」と、<br />
    「そんなのすぐできるよ」<br />
    「いいね、それ作ってみたい」が<br />
    出会うサイトを目指してます。<br />
.content.about
  %ul.attention
    %li
      Help me, hackers!はプログラミングにおけるタスクを共有するサイトです。<br />
      公開・共有のタスクを登録していくことで他のプログラマーとのコミュニケーションを促進します。
    %li
      自分取り組んでいるタスクを公開しながらやってみよう。見つけた誰かがアドバイスをくれるかも。<br />
      解決したタスクは実績として蓄積されます。
    %li
      タスクに報奨金を設定して、解決してくれた人にPayPalを使って簡単にお礼が出来ます。<br />
      報奨金を介して仕事にも活用できます。会社のBTSに塩漬けになっているタスクはありませんか？
    %li
      プログラマーにとって嫌なこととして「選べない仕事」「選べない開発環境」「迫る締め切り」「出社」などがあると思います。<br />
      逆に「プログラマーが仕事（タスク）を選ぶ」「自分のPCでやる」「期設定は無し」「好きな場所でやる」という条件であれば趣味のプログラミングと何ら変わらず楽しく出来るのではないかと考えました。
    %li
      趣味のタスクも仕事のタスクもオープンであればあるほど他の人が手助けをし易くなります。
  %h3 help me,hackers!の使い方
  %ol.about_index
    %li.about_01
      twitterでログイン
    %li.about_02
      タスク登録。単なるTODOリストとして使うも良し、報奨金を積んで助けを求めるも良し。（無償、有償関わらず、解決してくれた人への感謝の言葉を忘れずに！）
    %li.about_03
      Hackの成果は原則公開。自分の成果が他の誰の役に立つかも。
    %li.about_04
      解決できそうなタスクがあったら腕試しに一つ挑戦！報奨金が設定されてるものは、ついでに報奨金もいただいてしまおう。つまらないタスクはスルーの方向で一つ…。
    %li.about_05
      解決してくれた回答を選んで「解決」をクリック！
    %li.about_06
      報奨金を設定した場合はPayPal経由で解決してくれた人に簡単に支払い。感謝！
