.title
  %h2 Help me, hackers!について
.content
  .binding
    %p Help me, hackers!は
      %br
      Hackerに助けてもらうサイトです。
      %br
      プラグインの作成や、難しいバグの
      %br
      Hackを依頼してみよう！
      %br
      凄腕のHackerが瞬時に解決してくれるかも。
      %br
      HackerにPayPalで
      %br
      簡単に報奨金を支払うこともできます。
