.title
  %h2 Help me, hackers!について
.binding
  %p.hidden
    「こんなプログラムがあったらいいのに…」と、<br />
    「そんなのすぐできるよ」<br />
    「いいね、それ作ってみたい」が<br />
    出会うサイトを目指してます。<br />
.content.about
  %ol.attention
    %li 共通の欲しいプログラムに報奨金を積んでいける機能を開発中です。<br />報奨金がそのプログラムの需要を測るバロメータの一つとしても機能することを目的としています。<br />この機能によってhelp me,hackers!がHackeeの欲しいものをHackerに知らせることが出来る場になれば…と考えています。
    %li PayPalの規約上、報奨金は商用目的のHackに対する労力に対して支払うことになります。<br />（意味としては「お礼」、「寄付」です）
    %li 「これがあったらみんなにとっても役立つと思う」ものをリクエストしてください。<br />help me,hackers!から生まれた成果はみんなの財産になります。<br />自分だけが得するようなつまらないプログラムの依頼はHackerもスルーします。

  %h3 help me,hackers!の使い方
  %ol.about_index
    %li.about_01
      twitterでログイン
    %li.about_02
      ハック依頼。報奨金を積めば解決率がアップするかも。（無償、有償関わらず、Hackerへの感謝の言葉を忘れずに！）
    %li.about_03
      Hackの成果は原則公開。Hackはみんなの財産です。
    %li.about_04
      Hackerは面白そうなRequestがあったら腕試しに一つ挑戦！報奨金が設定されてるものは、ついでに報奨金もいただいてしまおう。つまらないRequestはスルーの方向で一つ…。
    %li.about_05
      RequestしたHackeeは最高の一つを選んで「解決」をクリック！
    %li.about_06
      報奨金を設定した場合はPayPal経由でHackerに簡単に支払い。感謝！
