.title
  %h2 利用規約
.content.about
  %h3 利用規約の範囲
  %p ユーザーの皆様はHelp me, hackers!の利用に関して適用される、以下の利用規約を承認するものとします。この利用規約の他、Help me, hackers!からリンクされた他サイト、利用する個別サービスの利用規約（本利用規約では網羅できない、個別サービス特有の規約）が存在する場合は、その利用規約に従ってください。
  %h3 禁止行為
  %p 皆様にHelp me, hackers!を有益に利用していただくため、Help me, hackers!では以下の行為が禁止されています。
  %ul
    %li 法令に違反する行為、および違法な行為を勧誘または助長する行為
    %li サーバーに負担をかける行為、および他のユーザーのアクセスまたは操作を妨害する行為
    %li Help me, hackers!の運営またはネットワーク・システムを妨害する行為
    %li 他人の名誉、信用、プライバシー権、パブリシティ権、著作権、その他の権利を侵害する行為
    %li 他のユーザーに対する中傷、脅迫、いやがらせ、その他経済的もしくは精神的損害または不利益を与える行為
    %li 民族・人種・性別・年齢等による差別につながる表現の掲載
    %li 暴力的、グロテスクな写真、死体・殺害現場等、その他一般の方が不快に感ずる言葉、その他の表現の掲載
    %li 性行為や性器に該当する言葉、猥褻的な表現の掲載
    %li 児童買春・ポルノ、無修正ビデオ映像のダウンロードサイト等へのリンク掲載
    %li 自殺、自傷行為を美化・誘発・助長する恐れのある言葉、その他の表現の掲載
    %li 性交および猥褻な行為を目的とした出会い等を誘導する行為
    %li 選挙の事前運動、選挙運動またはこれらに類似する行為、および公職選挙法に抵触する行為
    %li 商業用の広告、宣伝を目的としたプロフィール内容その他コンテンツ、スパムメール、チェーンメール、MLM、その他勧誘を目的とするコンテンツをアップロードしたり掲示したり、メッセージ機能などの方法で送信（発信）する行為。特に、アダルトサイトやマルチ、ねずみ講への勧誘は固く禁止します。その他の目的であっても、共有や機能等を使った無差別送信は多くの人の迷惑となりますので禁止します。
    %li あらかじめ不特定者に転売する目的で購入した商品を高額で売買することは迷惑防止条例に違反するため、禁止します。非営利の売買、交換等に関しては、禁止はしませんが他人同士の取引は危険ですのでお勧めできません。
    %li 自分以外の人物を名乗ったり、代表権や代理権がないにもかかわらず会社などの組織を名乗ったり、または他の人物や組織と提携、協力関係にあると偽ったりする行為。故意過失に基づき誤認した場合も含みます。
    %li 他のユーザーの個人情報を収集・蓄積する行為
    %li Help me, hackers!内のサービスに関わる記載について、無断でそのコピー、複製、アップロード、掲示、伝送、配布等をする行為（Help me, hackers!自体のソースコードはMIT LICENSEが適用されます。それに従う限りは前記には該当しません。また、回答それぞれのソースコードは問題に設定してあるライセンスに従います。）
    %li 一人のユーザーが複数のアカウントを持つ行為
    %li オークションサイト等で招待状を売買する行為
    %li その他公序良俗、一般常識に反する行為
    %li 上記に準ずる行為
  %p 以上の行為が確認された場合、状況を判断した上で掲載情報の変更、登録削除を含めたしかるべき処置をとります。
  %h3 ユーザーの皆様からの情報について
  %p 以下のいずれかにあてはまる場合には、運営者はユーザーの皆様が登録した情報、利用履歴、メールの内容などの確認を行い、場合によってはこれらの情報を第三者に開示することがあります
  %ul
    %li 裁判所、警察、その他の司法もしくは行政機関、またはこれらに準ずる者から法律に基づく照会があった場合
    %li Help me, hackers!またはそのシステムの維持に問題が生じる場合
    %li 法令または運営者が定める規約に違反し、その他社会通念上問題があると判断された場合
    %li 運営者、他のユーザー、またはその他の第三者の権利、または利益を保護するため必要な場合
  %h3 Paypal支払いについて
  %p Paypalの規約上、報奨金の支払いはプログラム作成の対価支払いという扱いにさせて頂きます。（サイト内では該当プログラムの需要を示すバロメーターとしても機能します。）
  %h3 免責事項
  %p Help me, hackers!では、基本的にユーザー同士の通信や活動に関与しません。万一ユーザー同士の衝突があった場合も、悪質行為と判断される場合を除き、それは当事者同士で解決するものとし、運営者ではその責任を負わないものとします。
  %p ユーザーの皆様は、Help me, hackers!での自らの行為において責任を負います。投稿等が法令違反や著作権等の権利侵害にあたる場合には、損害賠償などの民事責任の他、刑事責任を問われることがあります。
  %p 法律またはユーザー利用規約の条項のいずれかにあなた、または他のユーザーが従わない場合には、あなたが運営者に対して有する権利、主張、法的措置、訴訟、訴訟手続きの全てから当方を免除し、放免するものとします。
  %p 運営者は、Help me, hackers!のサービスをいつでも任意の理由で中断することができます。当方は、Help me, hackers! 利用、または利用ができないことによって引き起こされた（直接的、間接的を問わず）損害について、一切責任を負いません。
  %h3 合意管轄
  %p 本契約につき紛争が生じた場合には、東京簡易裁判所または東京地方裁判所を第一審の専属的合意管轄裁判所とする。
  %h3 皆様の同意、法的手続き
  %p ユーザーの皆様は、Help me, hackers!を利用することにより、この利用規約すべての記載内容について、同意されたものとみなされます。またこの利用規約は運営者の判断で任意に変更されます。将来引き続きご利用になる場合は、その時点での内容に同意されているとみなされます。
