%li.problem
  .title=link_to h(task.title), problem_path(task)
  .good= task.votes.size
  .comment= task.hacks.size
  - if task.bounty > 0
    .bounty= number_to_currency task.bounty
  .created_at== #{time_ago_in_words task.created_at}å‰
